@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html, body { 
    padding-left: 20%;
    background-color:rgb(250, 244, 249);
    display: flex;
    height: 100%; 
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
